*{
    margin: 0;
    padding: 0;
}

/* Navbar styling */

#navbar {
    display: flex;
    
}

/* Navbar styling : list items */

.navlist {
    padding-left: 50px;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.navlist li {
list-style: none;
  padding: 0px 50px;
}

.navlist li a {
text-decoration: none;
}


/*Navbar styling : Logo*/

#logo {
    
    }


#logo img{
    height: 150px;
 width: 100%;
  border: 1px solid transparent;
 border-radius: 100px;
}
