*{
    margin: 0;
    padding: 0;
}

/* Navbar styling */

#top{
    height: 80px;
    width: 98vw;
}


#navbar {
   display: flex;
    background-color: black;
    width: 98%;
    height: 70px;
 border-radius: 20px;
 align-items: center;
 position: fixed;
 top: 2px;
 
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar styling : list items */

.navlist {
    padding-left: 50px;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.navlist li {
list-style: none;
  padding: 0px 50px;
}

.navlist li a {
text-decoration: none;
color: #c4c4c4;
}

.navlist li a:hover{
color: white;
text-decoration: underline white;
}

a:active{
color: white;
text-decoration: underline white;
}  

/*Navbar styling : Logo*/

#logo {
    
    }


#logo img{
    height: 50px;
 width: 50px;
  border: 1px solid transparent;
 border-radius: 100px;
}


/* nav tab styling */

#Contact{
  
    margin: 5px;
   background-color: #c9c9c9;
    text-align: center;
    height: 90vh;
    width: 98vw;
    border: 2px solid black;
}

#About{
    margin: 5px;
   background-color: #c9c9c9;
    text-align: center;
    height: 90vh;
    width: 98vw;
    border: 2px solid black;
}