
  @import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@600&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


*{
font-size: 20px;
   
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

/* Navbar styling */

#top{
    height: 80px;
    width: 98vw;
    display: flex;

}


#navbar {
 display: flex;
 margin-left: 15px;
   display: flex;
    background-color: black;
    width: 98%;
    height: 70px;
 border-radius: 20px;
 align-items: center;
 
 position: fixed;
 top: 2px;
 
}

.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar styling : list items */

.navlist {
    padding-left: 50px;
    
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.navlist li {
list-style: none;
  padding: 0px 50px;
}

.navlist li a {
font-family: 'Poppins', sans-serif;
font-size: 20px;
text-decoration: none;
color: #c4c4c4;
}

.navlist li a:hover{
color: white;
text-decoration: underline white;
animation: btn 1s ease-in-out infinite 1;
}

a:active{
color: white;
text-decoration: underline white;
}  

/*Navbar styling : Logo*/

#logo {
    
    }


#logo img{
 
    height: 50px;
 width: 50px;
  border: 1px solid transparent;
 border-radius: 100px;
}


/* nav tab styling */

#Home{
font-size: 20px;
 margin: 5px;
   background-color: #c9c9c9;
overflow-x: hidden;
overflow-y: scroll;
    text-align: center;
    height: 30vh;
    width: 98vw;
    border: 2px solid black;
}
.container-Head{
font-family: 'Josefin Sans', sans-serif;
padding-top: 15px;
    
   font-size: 50px;
   
}

#Contact{
  margin: 5px;
background-image: linear-gradient(180deg, #FF9933, #FFFFFF, #138808);
    text-align: center;
    height: 30vh;
    width: 98vw;
    border: 2px solid black;
    
}

#About{
    margin: 5px;
   background-color: #c9c9c9;
    text-align: center;
    height: 30vh;
    width: 98vw;
    border: 2px solid black;
}

/* boldness of text */
h3{
text-decoration: underline black;

}


.firstpara{
font-size: 20px;
font-family: 'Bricolage Grotesque', sans-serif;
}

/*text to speech*/
.speakButton{

 width: 100px;

}

.button{
  
padding-left: 85%;
position: sticky; 
top: 3px;
}

button {
  background-color: #000000;
  color: #c9c9c9;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.5s;
 
}

button:hover {
  background-color: #fff;
  color: #000000;
}
